@use '../../global/' as g;

.video-works-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  list-style: none;

  @include g.mq(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  @include g.mq(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

.video-works {
  a {
    display: block;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}