@use '../../global/' as g;

.film-works-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  list-style: none;

  @include g.mq(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  @include g.mq(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

.film-works {
  position: relative;

  a {
    display: block;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.film-works--crop {
  .film-webm {
    transform: scale(1.3);
    transform-origin: center center;
  }
}

.film-webm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-thumb {
  display: block;
}